
/*Normalize*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    background-color: aliceblue;
    height: 100%;
}

/* Style the navigation menu */
.topnav {
    text-align: center;
    font-family: "Bookman Old Style";
    overflow: hidden;
    background-color: #002232;
    position: relative;
    box-shadow: 0 3px 6px 0 #002232;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

.topnav h1 {
    color: aliceblue;
    padding: 14px 16px;
    font-size: 35px;
    font-weight: bolder;
    display: block;
}

/* Style navigation menu links */
.topnav a {
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: #002232;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: aliceblue;
    color: #002232;
}
.topnav a.icon:hover {
    background: #002232;
    color: lightcyan;
}
.topMessage {
    text-align: center;
    margin: 35px 0;
}

.firebaseui-card-footer {
    display: none;
}