
/*Normalize*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    background-color: aliceblue;
    height: 100%;
}

/* Style the navigation menu */
.topnav {
    text-align: center;
    font-family: "Bookman Old Style";
    overflow: hidden;
    background-color: #002232;
    position: relative;
    box-shadow: 0 3px 6px 0 #002232;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

.topnav h1 {
    color: aliceblue;
    padding: 14px 16px;
    font-size: 35px;
    font-weight: bolder;
    display: block;
}

/* Style navigation menu links */
.topnav a {
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: #002232;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: aliceblue;
    color: #002232;
}
.topnav a.icon:hover {
    background: #002232;
    color: lightcyan;
}
.topMessage {
    text-align: center;
    margin: 35px 0;
}

.firebaseui-card-footer {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 4%;
    justify-content: space-evenly;
}

.post-container {
    min-height: 300px;
    min-width: 300px;
    flex-grow: 1;
    text-align: center;
    margin: 15px 1vw;
    border: solid 2px black;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 black;
    background-image: linear-gradient(to top, rgba(128, 128, 128, .7),
    rgba(128, 128, 128, .6));
}

.post-container > h3 {
    margin-top: 10px;
}

.post-container > img, object, object > img {
    margin: 20px 0;
    border-radius: 5px;
}

.post-container > p {
    text-align: left;
    font-size: larger;
    font-family: "francois one";
    margin: 10px 5px;
}

.button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 15px;
    font-family: Georgia;
    color: aliceblue;
    border-color: #002232;
    background-color: #002232;
    box-shadow: 0 4px 10px 0 rgba(128, 128, 128, .9);
}
.button:hover {
    box-shadow: none;
}

form {
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 black;
    margin: 30px 10%;
    padding: 20px 0;
    background-image: linear-gradient(to top, rgba(128, 128, 128, .7),
    rgba(128, 128, 128, .6));
    text-align: center;
}
input {
    border-radius: 5px;
    width: 180px;
    margin: 15px;
    padding: 10px;
    border: solid grey 1px;
}

#confirmationNotice {
    max-width: none;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, .8);
    position: absolute;
    top: 0;
}

#confirmationNotice > h1 {
    color: #002232;
    font-size: xx-large;
}

#confirmationNotice > h3 {
    color: red;
    cursor: pointer;
}

#confirmationNotice > h3:hover {
    color: darkred;
    text-decoration: underline;
}

.row {
    width: 100%;
}

#closeConfirmationButton {
    cursor: pointer;
    font-size: 40px;
    display: block;
    color: red;
    position: absolute;
    top: 3px;
    right: 5px;
}

#closeConfirmationButton:hover {
    color: darkred;
}